<div class="main-div">
    <div class="main-list">
        <div class="pageTitle">
          <h2 class="title" *ngIf="listTutors">
            Tutors
          </h2>
        </div>

        <div class="search_input">
          <mat-card>
            <mat-card-content>
              <input matInput type="search" placeholder="search here..." class="search-input"  (keyup)="onSearch($event)" appearance="fill">
            </mat-card-content>
          </mat-card>
        </div>

        <div class="main-content">
               <mat-grid-list cols="3" rowHeight="250px">
                <mat-grid-tile *ngFor="let tutor of listTutors | filter : filteredString">
                <mat-card class="litTutors" role="listitem" (click)="onDetail(tutor._source._id, tutor._source.profile.firstname, tutor._source.profile.lastname, tutor._source.profile.gender, tutor._source.profile.age, tutor._source.profile.educationlevel, tutor._source.profile.mainsubject, tutor._source.profile.language)">
                    <mat-card-title class="profilename">
                        {{tutor._source.profile?.firstname}}
                    </mat-card-title>
                    <mat-card-content>
                      <mat-list>
                        <mat-list-item>
                          <span class="align-icon">
                            <mat-icon aria-hidden="false" aria-label="Example home icon">email</mat-icon>
                            {{tutor._source.email}}
                          </span>
                        </mat-list-item>
                        <mat-list-item>
                          <span>
                            <mat-icon aria-hidden="false" aria-label="Example home icon">phone</mat-icon>
                            {{tutor._source.profile.phonenumber}}
                          </span>
                        </mat-list-item>
                       </mat-list>
                    </mat-card-content>
                </mat-card>
                </mat-grid-tile>
              </mat-grid-list>

              <mat-paginator [length]="100"
                      [pageSize]="20"
                      [pageSizeOptions]="[5, 10, 25, 100]"
                      aria-label="Select page">
            </mat-paginator>

        </div>
    </div>
</div>
