<div class="main-div">
    <div class="main-list">
        <div class="pageTitle">
          <h2 class="title" *ngIf="listTutors">
            List of Available Tutors
          </h2>
        </div>

        <div class="search_input">
          <input matInput type="search" placeholder="search here..." class="search-input"  [(ngModel)]="filteredString" appearance="fill">
        </div>

        <div class="main-content">
            <mat-grid-list cols="1" rowHeight="3">
               <mat-grid-list [cols]="breakpoint"  rowHeight="2:2" (window:resize)="onResize($event)">
                <mat-grid-tile *ngFor="let tutor of listTutors | filter : filteredString">
                <mat-card class="litTutors" role="listitem" (click)="onDetail(tutor._id, tutor.profile.firstname, tutor.profile.lastname, tutor.profile.gender, tutor.profile.age, tutor.profile.educationlevel, tutor.profile.mainsubject, tutor.profile.language)">
                    <mat-card-title class="profilename">
                        {{tutor.profile?.firstname}}
                    </mat-card-title>
                    <mat-card-content>
                      <mat-list>
                        <mat-list-item>
                          <span class="align-icon">
                            <mat-icon aria-hidden="false" aria-label="Example home icon">email</mat-icon>
                            {{tutor.email}}
                          </span>
                        </mat-list-item>
                        <mat-list-item>
                          <span>
                            <mat-icon aria-hidden="false" aria-label="Example home icon">phone</mat-icon>
                            {{tutor.phonenumber}}
                          </span>
                        </mat-list-item>
                       </mat-list>
                    </mat-card-content>
                </mat-card>
                </mat-grid-tile>
              </mat-grid-list>

              <mat-paginator [length]="100"
                      [pageSize]="10"
                      [pageSizeOptions]="[5, 10, 25, 100]"
                      aria-label="Select page">
            </mat-paginator>
            </mat-grid-list>
        </div>
    </div>
</div>
