<div class="main-div">
  <div style="width: auto;" class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      <!-- Position Column -->
      <ng-container matColumnDef="firstname">
        <th mat-header-cell *matHeaderCellDef> First Name </th>
        <td mat-cell *matCellDef="let row"> {{row.profile.firstname}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="lastname">
        <th mat-header-cell *matHeaderCellDef >Last Name </th>
        <td mat-cell *matCellDef="let row"> {{row.profile.lastname}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef> Gender </th>
        <td mat-cell *matCellDef="let row"> {{row.profile.gender}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let row"> {{row.profile.status}} </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element; index as i" style="margin-right: 100px" >
          <div class="example-button-row">
            <button mat-raised-button style="margin-right: 10px;background-color: rgb(18, 201, 140);" *ngIf="element.profile.status == 'inactive'"
            (click)="onUpdate(element._id)">Activate</button>
            <button mat-raised-button color="primary" style="margin-right: 10px;"
            (click)="onDetail(element._id, element.profile.firstname,
            element.profile.lastname, element.profile.gender, element.profile.age, element.profile.educationlevel, element.profile.mainsubject, element.profile.language)"><mat-icon>details</mat-icon></button>
            <button mat-raised-button color="warn"  (click)="removeUser(i)"><mat-icon>delete</mat-icon></button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" style="margin-right: 100px"></tr>

    </table>
    <mat-paginator style="width: 85%;" [pageSizeOptions]="[5, 10, 20]"
                     showFirstLastButtons [pageSize]="5"
                     aria-label="Select page">
      </mat-paginator>

</div>

</div>
