mat-form-field,
textarea{
  width: 50%;
}

.profileForm{
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card{
  width: 60%;
}

button{
  width: 100%;
}

.main-div{
  height: 100vh;
}

